.body1{
    padding: 2.2vh 5vw 15vh 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 5%;
    max-height: fit-content;
    min-height: 90vh;

}
.container-1,
.container-2{
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    background-color: #303a41;
    /* background-color: white; */
    padding: 3% 6% 4.7%;
    border-radius: 1em;
}
.container-1{
    border-radius: 1.8rem;
}
.container-2{
    width: 100%;
    height: 75%;
    /* max-height:fit-content; */
    padding: 0;
    margin: auto 0;
}
.image-container-1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin: auto 0;
}
.image-container-2{
    /* transform: translateX(3rem); */
    display: flex;
    justify-content: center;
    width: 88%;
    height: fit-content;
}
.name{
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family:opensans;
    letter-spacing: 1px;
    padding-bottom: 0%;
    text-align: center;
    /* border-bottom: .0000001px solid white; */
}
.location{
    /* font-family: opensans; */
    color: #303a41;
    color: white;
    font-size: 1.2rem;
    padding: .6% 0;
    font-weight: 500;
}
.location::before{
    content: "";
    display: inline-block;
    background-image: url('../images/location-pin.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.8rem;
    height: 1.5rem;
    transform: translateY(.2rem);
    margin-left: -1px;
}
.address{
    font-family: opensans;
    color: #303a41;
    color: white;
    font-size: 1.2rem;
    padding: .6% 0;
}
.address::before{
    content: "";
    display: inline-block;
    background-image: url('../images/home.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:1.8rem;
    height: 1.5rem;
    transform: translateY(.2rem);
    margin-left: -1px;
}
.email{
    /* font-family: opensans; */
    color: #303a41;
    color: white;
    font-size: 1.2rem;
    padding: .6% 0 ;
}
.email::before{
    content: "";
    display: inline-block;
    background-image: url('../images/email.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    width:1.8rem;
    height: 1.3rem;
    transform: translateY(.2rem);
    margin-left: 1px;
}
.phone1,.phone2{
    /* font-family: opensans; */
    color: #303a41;
    color: white;
    font-size: 1.2rem;
    padding: .6% 0 0;
    border-radius: 0px;
}
.phone1::before,.phone2::before{
    content: "";
    display: inline-block;
    background-image: url('../images/phone-call1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    width:1.8rem;
    height: 1.3rem;
    transform: translateY(.2rem);
    margin-left: 1px;
}
.pin{
    /* font-family: opensans; */
    color: #303a41;
    color: white;
    font-size: 1.2rem;
    padding: .6% 0 0;
    border-radius: 0px;
}
.pin::before{
   content: "";
    display: inline-block;
    background-image: url('../images/post-office.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    width:1.9rem;
    height: 1.65rem;
    transform: translateY(.2rem);
    margin-left: -1px; 
}



.wrap-content{
    background-color: #303a41;
    padding: 0 1% .5%;
    border-radius: .6rem;
    margin-bottom: 1rem;
    /* box-shadow: .1em .1em 1.5rem .15em #2b363a; */
}
.wrap-content>div{
    padding:  0% 0 ;
}
.wrap-content>div>input{
    font-size: 1.05rem;
    padding: 1% 0;
}


#wrap1{
    margin-top: 0;
    margin-bottom: .6%;
}

.user-not-found{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100vw;
    max-height: fit-content;
    min-height: 95vh;
}
.user-not-found~.body1{
    display: none;
}
.user-not-logged-in-container{
    max-width: 95vw;
    min-width: 37vw;
    /* padding:2% 5% 5%; */
}
.p-t-l-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white; 
}
.profile-to-log-in-page-link-container{
    width: 90%;
    text-align: center;
    background-color: #303a41;
    padding: 3% 0;
    border-radius: 50rem;
    transform: translateY(-2rem);
    transition: all 300ms ease-in-out;
}
.profile-to-log-in-page-link-container:hover{
    background-color: rgb(186,104,200);
    transform: translateY(-2.4rem);
}
.question{
    text-align: center;
    transform: translateY(-3.5rem);
}


.update-button-container{
    display: flex;
    width: 100%;
    gap: 3%;
}
.fix{
    width: 35%;
    background-color: #303a41;
    box-shadow: .1em .1em 1em .1em #232b2f;
    border-radius: 8rem;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
.fix:hover{
    background-color: rgb(186,104,200);
    transform: translateY(-.4rem);
}
.fix-container{
    color: white;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.update-button{
    padding: 1em;
    height: 100%;
    width: 100%;
    border-radius: 8rem;
    cursor: pointer;
    border: 0;
    color: white;
    background-color: #303a41;
    transition: all 300ms ease-in-out;
    box-shadow: .1em .1em 1.5em .15em #232b2f;
}
.update-button:hover{
    background-color: rgb(186,104,200);
    transform: translateY(-.4rem);
}
input.ex-name{
    width: 90%;
    background-color: #303a41;
    box-shadow: none;
    color: white;
    padding: 0;
    font-family: opensans;
    padding: 1.9% 0;
    border-bottom: 2.6px solid #303a41;
    
}
input.name{
    width: 70%;
    background-color: #303a41;
    box-shadow: none;
    color: white;
    padding: 2% 5%;
    font-family: opensans;
    box-shadow: .1em .1em 1em .1em #2b363a;
    border-radius: .6rem;
}
.update-btn{
    padding: 1em;
    height: 100%;
    width: 100%;
    border-radius: 8rem;
    cursor: pointer;
    border: 0;
    color: white;
    background-color: #303a41;
    transition: all 300ms ease-in-out;
    box-shadow: .1em .1em 1.5em .15em #232b2f;
    display: none;
}
.clickable{
    /* position:absolute; */
    padding: 1em;
    height: 100%;
    width: 100%;
    border-radius: 8rem;
    cursor: pointer;
    border: 0;
    color: white;
    background-color: #303a41;
    transition: all 300ms ease-in-out;
    box-shadow: .1em .1em 1.5em .15em #232b2f;
}
.clickable:hover{
    background-color: rgb(186,104,200);
    transform: translateY(-.4rem);
}
.clickable~.update-button{
    display: none;
}
.err{
    border-bottom: 2px solid red;
}


.container-2{
    background-color: white;
}
.container-2-div-1,.container-2-div-2{
    height: 48%;
    background-color: #303a41;
    border-radius: 1em;
    padding: 3% 5% 5% 10%;
    color: white;
    font-size: 2rem;
    font-family: opensans;
    font-weight: 900;
}
.container-2-div-1{
    margin-bottom: 5%;
}
.money-spent,.money-container,.total-order,.total-order-container{
    letter-spacing: 1px;
    height: 50%;
    display: flex;
    align-items: center;
}
.money-container{
    margin-left: .2em;
    transform: translateY(-.16em);
    font-size: 3.2rem;
}
.indian-money{
    margin: auto .1rem;
    font-weight: 300;
    font-family:sans-serif;
    transform: translateY(2px);
}
.total-order-container{
    margin-left: .2em;
    transform: translateY(-.16em);
    font-size: 3.2rem;
}



.profile-image-container{
    display: flex;
    justify-content: center;
}
.circle{
    width: 8.5rem;
    height: 8.5rem;
    position: relative;
    /* border-radius: 8rem; */
    /* background-color: red; */
}
.img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit:cover;
    border-radius: 100rem;
}
.edit-btn1{
    position: absolute;
    width: 25%;
    aspect-ratio: 1/1;
    background-image: url('../images/pencil.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0%;
    right: 5%;
    background-color: #303a41;
    background-color: rgb(186,104,200);
    /* background-color: white; */
    border-radius: 100px;
    border: 5px solid #21292d;
}
.edit-btn1:hover{
    cursor: pointer;
}
.hidden{
    display: none;
}
.upload-image{
    transform: scale(2);
    overflow: hidden;
    opacity: 0;
}


.sreyas-image-error{
    width: 100%;
    text-align: center;
    font-size: .8rem;
    color: white;
}

@media (max-width : 900px){
    .body1{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .image-container-2{
        transform: translateX(4.8vw);
    }
}

@font-face {
    font-family: opensans;
    src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}



