@import url('main.css');
@import url('../admin/css/se-ma.css');
:root{
    --standard-size: 1rem;
    --size: 1.1rem;
}
body,
.nav-bar,
.btn-container-wrapper{
    background-color: var(--primary-background);
}
.body1{
    margin-block: 0;
}
.details-and-remove-btn-container{
    grid-template-columns: 1fr;
}
.rating-container{
    width: fit-content;
    background-color: white;
    border-radius: 50rem;
    padding: .27rem .7rem .2rem;
}
.rating{
    font-weight: 900;
}
.shop-container-link{
    text-decoration: none;
    height: 100%;
}
.star-container{
    display: inline-block;
    width: var(--size);
    height: var(--size);
    transform: translateY(calc(var(--size)*.09));
}
.star-container
svg{
    object-fit: contain;
    width: var(--size);
    height: var(--size);
}
.rating-green{
    --color: rgb(13, 201, 0);
    fill: var(--color);
    color: var(--color);
}
.rating-yellow{
    --color: rgb(255, 174, 0);
    fill: var(--color);
    color: var(--color);
}
.rating-red{
    --color: rgb(255, 0, 0);
    fill: var(--color);
    color: var(--color);
}
.total-rating{
    display: inline-block;
    font-size: calc(var(--standard-size)*.7);
    color: black;
    transform: translateY(calc(var(--standard-size)*-.1));
    font-weight: 600;
}
.details
div{
    width: fit-content;
    display: inline-block;
    margin-block: .3rem;
}
.details>
span{
    background-color: var(--dark-8);
    width: 5rem;
    height: 1rem;
    padding: .2rem .75rem;
    border-radius: .25rem;
    font-size: .95rem;
    position: relative;
    margin-left: .8rem;
}
.details>span::before{
    display: inline-block;
    content: "";
    width: calc(var(--standard-size)*.7);
    aspect-ratio: 1/1;
    background-color: var(--dark-8);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-.25rem,-50%) rotate(45deg);
}
.search-bar-main-wrapper{
    display: grid;
    grid-template-columns: max-content auto;
    position: relative;
    width: 50.2vw;
}
.search-bar-wrapper{
    margin-left: .2rem;
    width: auto;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    gap: .2rem;
}
.shop-or-product-btn,
.sort-btn,
.filter-btn{
    margin-inline: .2rem;
    padding: .6rem min(1.5rem, 3.8vw) .6rem min(2rem, 5vw);
    background-color: #303a41;
    border-radius: 5rem;
    border: none;
    color: white;
    transition: background-color 250ms ease-in-out;
    height: 100%;
}
.shop-or-product-btn:hover,
.sort-btn:hover,
.filter-btn:hover{
    background-color: rgb(186 104 200);
    cursor: pointer;
}
.shop-or-product-btn::after,
.sort-btn::after,
.filter-btn::after{
     content: "";
    --size: 1.1rem;
    background-image: url(../images/caret-down.png);
    display: inline-block;
    width: var(--size);
    height: var(--size);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: calc(var(--standard-size)*1.5);
    transform: translateY(calc(var(--size)/6.5)) rotate(0deg);
    transition: transform 450ms ease-in-out;
}
.search-bar-main-wrapper:has(div[show1=true])
button::after,
.btn-container-inside:has(div[show1=true])
button::after{
    transform: translateY(calc(var(--size)/6.5)) rotate(180deg);
}
.btn-container-inside{
    position: relative;
}
.shop-or-product-options-container,
.sort-options-container,
.category-options-container{
    position: absolute;
    background-color: rgb(186 104 200);
    color: white;
    padding: .65rem 1.1rem;
    border-radius: 1.8rem;
    top: calc(100% + .5rem);
    right: 0;
    z-index: 50;
}
.shop-or-product-options-container{
    left: 0;
    right: auto;
}
.category-options-container{
    height: 16.5rem;
    overflow-y: scroll;
}
.category-options-container::-webkit-scrollbar{
    display: none;
}

.btn-container-wrapper
option{
    padding: .75rem 2.5rem;
    border-radius: 50rem;
    text-align: center;
}
.btn-container-wrapper
option:hover{
    cursor: pointer;
    background-color: #303a41;
}
.search-bar::placeholder{
    content: "Lazy search...";
}

/* -animation for the option containers */
div.shop-or-product-options-container[show1=false],
div.category-options-container[show1=false],
div.sort-options-container[show1=false]{
    visibility: hidden;
    opacity: 0;
    transition: all 60ms ease-in-out;
}
div.shop-or-product-options-container[show1=true],
div.category-options-container[show1=true],
div.sort-options-container[show1=true]{
    visibility: visible;
    opacity: 1;
    transition: all 120ms ease-in-out;
}
 /* -clipboard copy  */
 .clipboard-icon-container{
    --size: 1rem;
    margin-inline: .3rem;
    width: var(--size);
    aspect-ratio: 1/1;
    display: inline-block;
    background-image: url('../images/purple_clipboard.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(calc(var(--size) * .1));
    position: relative;
}
/* -media queries  */
@media (width <= 900px){
    .search-bar-main-wrapper{
        width: 100%;
    }
    .search-bar-wrapper{
        width: auto;
    }
    .ph{
        font-size: .75rem;
    }
}