@import url('../admin/css/se-ma.css');
:root{
    --standard-size: 1rem;
    --size: 1.1rem;
    --primary-dark: #222930;
}
.body1{
    margin-block: 0;
}
.details-and-remove-btn-container{
    grid-template-columns: 1fr;
}
.rating-container{
    width: fit-content;
    background-color: white;
    border-radius: 50rem;
    padding: .13rem .8rem .08rem;
}
.rating{
    font-weight: 900;
}
.shop-container-link{
    text-decoration: none;
    height: 100%;
}
.star-container{
    display: inline-block;
    width: var(--size);
    height: var(--size);
    transform: translateY(calc(var(--size)*.09));
}
.star-container
svg{
    object-fit: contain;
    width: var(--size);
    height: var(--size);
}
.rating-green{
    --color: rgb(13, 201, 0);
    fill: var(--color);
    color: var(--color);
}
.rating-yellow{
    --color: rgb(255, 174, 0);
    fill: var(--color);
    color: var(--color);
}
.rating-red{
    --color: rgb(255, 0, 0);
    fill: var(--color);
    color: var(--color);
}
.total-rating{
    display: inline-block;
    font-size: calc(var(--standard-size)*.7);
    color: black;
    transform: translateY(calc(var(--standard-size)*-.1));
    font-weight: 600;
}
.details
div{
    width: fit-content;
    display: inline-block;
    margin-block: .25rem;
}
.details>
span{
    background-color: var(--primary-dark);
    width: 5rem;
    height: 1rem;
    padding: .2rem .75rem;
    border-radius: .25rem;
    font-size: .95rem;
    position: relative;
    margin-left: .8rem;
}
.details>span::before{
    display: inline-block;
    content: "";
    width: calc(var(--standard-size)*.7);
    aspect-ratio: 1/1;
    background-color: var(--primary-dark);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-.25rem,-50%) rotate(45deg);
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    gap: .2rem;
}
.sort-btn,
.filter-btn{
    margin-inline: .2rem;
    padding: .6rem min(1.5rem, 3.8vw) .6rem min(2rem, 5vw);
    background-color: #303a41;
    border-radius: 5rem;
    border: none;
    color: white;
    transition: background-color 250ms ease-in-out;
    height: 100%;
}
.sort-btn:hover,
.filter-btn:hover{
    background-color: rgb(186 104 200);
    cursor: pointer;
}
.sort-btn::after,
.filter-btn::after{
     content: "";
    --size: 1.1rem;
    background-image: url(../images/caret-down.png);
    display: inline-block;
    width: var(--size);
    height: var(--size);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: calc(var(--standard-size)*1.5);
    transform: translateY(calc(var(--size)/6.5)) rotate(0deg);
    transition: transform 450ms ease-in-out;
}
.btn-container-inside:has(div[show=true])>
button::after{
    transform: translateY(calc(var(--size)/6.5)) rotate(180deg);
}
.btn-container-inside{
    position: relative;
}
.sort-options-container,
.category-options-container{
    position: absolute;
    background-color: rgb(186 104 200);
    color: white;
    padding: .8rem 1.2rem;
    border-radius: 1.8rem;
    top: calc(100% + .5rem);
    right: 0;
    z-index: 50;
}
.category-options-container{
    height: 16.75rem;
    overflow-y: scroll;
}
.category-options-container::-webkit-scrollbar{
    display: none;
}
.btn-container-inside
option{
    padding: .75rem 2.5rem;
    border-radius: 50rem;
    text-align: center;
}
.btn-container-inside
option:hover{
    cursor: pointer;
    background-color: #303a41;
}
.search-bar::placeholder{
    content: "Lazy search...";
}