.main-menu a{
    color: rgb(0, 0, 0);
}
.main-sub-menu ul{
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    margin: 2rem 5rem 2rem auto;
}
.main-sub-menu ul li{
    list-style: none;
}
.main-menu a:hover{
    color: rgb(130,73,140);
}
.highlight{
    color: rgb(186,104,200);
}


.home{
    background-color: #ffffff;
     /* background-color: #3d4d54; */
    padding: 5vh 6vw;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1.5vw;
}
.card{
    /* border: 1px solid #3d4d54; */
    padding: 5%;
    padding-bottom: 2%;
    background-color: white;
    box-shadow: .2rem .2rem 1.2rem rgb(115, 115, 115);
    border-radius: 2rem;
    /* border-left: 10px solid #3d4d54; */
    transition: all 290ms ease-in-out;
    /* border: 1px solid rgb(205, 205, 205); */
}
.card:hover{
    box-shadow: .2rem .2rem 1.9rem rgb(50, 50, 50);
}
.card-cover-image{
    height: 12rem;
    overflow: hidden;
    border-radius: 1.4rem;
}
.cover-image-inside{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 600ms ease-out;
}
.card:hover
.card-cover-image
.cover-image-inside{
    transform: scale(1.2);
}
.name{
    font-size : 1.3rem;
    font-weight : 900;
    color: black;
    margin-bottom: .2rem;
}
.name::before{
    content: "";
    --size: 1.5rem;
    background-image: url(../images/money-check.png);
    display: inline-block;
    width: var(--size);
    height: var(--size);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: calc(var(--size)/8);
    transform: translateY(calc(var(--size)/7.5));
}
.shop-details-wrapper{
    height: fit-content;
    padding-inline: .8rem;
    padding-block-start: .2rem;
    margin-left: .6rem;
    border-left: 3px solid #303a41;
    margin-bottom: .5rem;
    font-weight: 600;
}
.rating{
    margin-left: .75%;
    font-weight: 550;
    font-weight: 700;
}
#Layer_1{
    width: 1em;
    aspect-ratio: 1/1;
    margin-left: -1.5%;
    transform: translateY(10%);
}
.total-rating{
    font-weight: 700;
    margin-left: 0%;
    font-size: 60%;
    color: rgb(120, 120, 120);
}
.category-d{
    font-size : .92rem;
    padding-bottom:3.5%;
    margin-top:5%;
}
td:nth-child(odd){
    padding-right: 1vw;
}
.home-delivery-icon{
    transform: translateY(-1vh);
    padding-left: 0.5%;
    width: 12%;
    aspect-ratio: 1/1;
}
@media (max-width : 1011px){
    .home{
        grid-template-columns: repeat(3 , 1fr);
        padding: 5vh 5.8vw;
        gap: 3vh;
    }
}

@media (max-width : 750px){
    .home{
        grid-template-columns: repeat(2 , 1fr);
        padding: 5vh 4.5vw;
        gap: 3vh;
    }
}

@media (max-width : 480px){
    .home{
        grid-template-columns: repeat(1 , 1fr);
        padding: 5vh 3.5vw;
        gap: 3vh;
    }
}