.box5{
    color: rgb(186,104,200);
    transition: color 100ms linear;
}
.box5:hover{
    color: rgb(130,73,140);
}
.div1-customer-form{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    margin: 0 4em 0 auto;
    margin-bottom:0.8% ;
    border-radius: 20px;
    padding: 5% 11.2% 5% 9.5%;  
    transition: all 200ms ease-in-out;
    box-shadow: .3rem .3rem 4rem rgb(115, 115, 115);
}
.body3{
    padding: 0;
    height: fit-content;
}
.customeracc{
    padding:1%;
    background-color: rgb( 165, 0, 245);
    margin:0 24.1%;
    border-radius: 12px 12px 12px 12px;
    margin-bottom: 1.5%;
}
#customername,#customerlocation,#customeraddress,#customeremail,#customerphone1,#customerphone2,#customerpin{
    padding: 3%;
    color: black;
    width: 400px;   
    border-radius: 6px;
    margin-top: 1%;
    border: 2px solid white;
}
#createacc{
    width: 106.1%;
    padding: 2%;
    border-radius: 6px;
    background-color: rgb(186,104,200);
    color: white;
}
label{
    display: block;
    width: 250px;
}
.wrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 2% 0 ;
}
.imag{
    margin: 0 0 0 auto;
}
@media (max-width : 980px){
    .wrap{
        flex-direction: column;
    }
    .imag{
        margin: 0 auto;
        width: 100vw;
    }
    .div1-customer-form{
        margin: 0 auto;
    }
    .imag-sub{
        width: 65%;
    }
}
