@import url('../../css/main.css');
body{
    background-color: var(--dark-10);
}
*{
    font-family: poppins;
}
.top-header-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 13% 80%;
    gap: 7% 2.5%;
    border-radius: 3.5rem;
    background-color: var(--dark-9);
    padding: 3rem;
    width: 95%;
    margin: 0 auto;
    margin-block: 2.2rem;
    /* border: 1px solid black;
     */
}

.image-container{
    display: block;
    box-sizing: border-box;
    /* height: 100%; */
    width: auto;
    border-radius: 3.2rem;
    overflow: hidden;
    background-color: var(--purple);
    grid-auto-rows: span;
}
.shop-cover-image{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--dark-10);
    border-left: none;
    border-top: none;
    /* border-radius: 1rem; */
    /* border: 3px solid #282f34; */
}


.shop-name-main-container{
    grid-column: span 2;
}
.shop-name-text-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    background-color: var(--dark-9) !important;
    /* padding: 0 3rem; */
    border-radius: 2rem;
    line-height: 1.1em;
    font-size: 2.5rem;
    font-weight: 900;
    color: white !important;
    /* font-family: comfortaa; */
}
.shop-name-text-container>
.shopName-wrapper{
    display: flex;
    align-items: center;
    height: 100%;
}
.shopName-wrapper-content{
    background-color: var(--dark-10);
    padding: .8rem 3rem;
    border-radius: 1.2rem;
}
.show-images:nth-child(1){
    content: '';
    display: inline-block;
    height: 1.7em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--dark-10);
    margin-right: 1rem;
    /* background-image: url('../../images/shopping-bag.png'); */
    background-repeat: no-repeat;
    background-size: .6em;
    background-position: center;
}
.to-productSection-link{
    display: flex;
    align-items: center;
    width : fit-content;
    background-color: var(--purple);
    border-radius: 50rem;
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 3%;
}
.to-productSection-link::before{
    content: '';
    display: inline-block;
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-right: .8rem;
    background-image: url('../../images/shopping-bag.png');
    background-repeat: no-repeat;
    background-size: 1.2em;
    background-position: center;
    transform: translateY(1px);
}
.goto-shopping-link{
    height: fit-content;
    width: fit-content;
}



.details-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.4rem 3rem;
    width: 100%;
    background-color: var(--dark-10);
    border-radius: 3rem;
    font-size: .98rem;
}
.details-container>
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-details-container{
    display: block;
}
.details-container 
*{
    color: white;
}
.location-container> span:first-child{
    background-size: contain;
    background-image: url('../../images/marker.png');
    display: inline-block;
    transform: translateY(.2rem);
    margin-inline-end: .2rem;
}
.category-container{
    color: white;
}
.location-container
span{
    display: inline-block;
}
.category-container 
span:first-child{
    background-image: url('../../images/settings-sliders.png');
    background-size: contain;
    display: inline-block;
    transform: translateY(.2rem);
    margin-inline-end: .2rem;
}
.phone1-container,
.phone2-container{
    display: inline;
}
.phone1-container>
span:first-child,
.phone2-container>
span:first-child{
    background-image: url('../../images/circle-phone\ \(1\).png');
    background-size: contain;
    display: inline-block;
    transform: translateY(.16rem);
    margin-inline-end: .2rem;
}
.shop-rating-container>
span:first-child{
    background-image: url('../../images/comet.png');
    background-size: contain;
    display: inline-block;
}
.shop-rating-container>
span:last-child>
span:first-child{
    display: inline-block;
    background-image: url('../../images/whiteStar.png');
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    transform: translateX(-.5rem);
}
.shop-total-rating-container{
    display: inline-block;
    font-size: .7rem;
    margin-inline-start: -.8rem;
    transform: translateY(-.15rem);
}
.details-label{
    background-color: var(--dark-9);
    color: white;
    padding: .1rem .8rem;
    border-radius: .5rem;
}

.location-container>
span:last-child,
.category-container>
span:last-child,
.phone1-container>
span:last-child,
.phone2-container>
span:last-child,
.shop-rating-container>
span:last-child{
    padding-inline-start: 1.2rem;
    border-inline-start: 3px solid var(--purple);
    display: block;
    font-size: 1.3rem;
    margin-block:.2rem .6rem;
    margin-inline-start: .45rem;
}
.phone1-container>
span:last-child,
.phone2-container>
span:last-child{
    font-size: 1rem;
}
.copy-image{
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('../../images/clipboard-list-check.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 300ms ease-in-out;
}
.copy-image:hover{
    cursor: pointer;
    transform: scale(1.05);
}





.purchase-container-a{
    color: #445764;
    text-decoration: none;
    font-size: 1.2rem;
}

.purchase-product-container{
    background-image: url('../../images/shopping-cart.svg');
    height: 100%;
    width: 100%;
    background-size: 15.5%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-color: #202529;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 320ms ease-in-out, transform 320ms ease-in-out;
}
.purchase-product-container:hover{
    background-image: url('../../images/shopping-cart1.svg');
    transform: translateY(-.3rem);
}
.purchase-product-container:hover > .purchase{
    color: #445764;
}
.purchase{
    transform: translateY(250%);
    /* font-family: comfortaa; */
    font-weight: 900;
}


.image-purchase-container{
    display: flex;
    justify-content: center;
    height: fit-content;
    display: block;
    margin: 0;
    padding: 0;
}
.circle-images-wrapper{
    width: 100%;
    height: 82vw;
    position: relative;
    display: block;
}
.__images{
    display: none !important;
    box-sizing: content-box;
    border: .8rem solid var(--purple);
    position: absolute;
    display: block;
    width: fit-content;
    height: fit-content;
    transform: translateX(5vw);
    /* animation: imageAnimation 1s ease-in-out infinite; */
}
.__images:nth-child(1){
    display: block !important;
    top: 15vw;
    left: 0;
    width: 30vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    animation-delay: 1s;
}
.__images:nth-child(2){
    display: block !important;
    top: 0;
    left: 31.5vw;
    width: 40vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
}
.__images:nth-child(3){
    display: block !important;
    top: 15vw;
    left: 74vw;
    width: 20vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    animation-duration: 3s;
}
.__images:nth-child(4){
    display: block !important;
    top: 41vw;
    left: 20.5vw;
    width: 36vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    animation-delay: 4s;
}
.__images:nth-child(5){
    display: block !important;
    top: 35.5vw;
    left: 59vw;
    width: 29vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    animation-delay: 5s;
}
.__images:nth-child(6){
    display: none;
    top: 65vw;
    left: 56.5vw;
    width: 12vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    overflow: hidden;
    animation-delay: 2s;
}
@keyframes imageAnimation {
    0%{
        transform: scale(1) translateX(5vw);
    }
    50%{
        transform: scale(.9) translateX(5vw);
    }
    100%{
        transform: scale(1) translateX(5vw);
    }
}
.__images
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 600ms ease-out;
}
.__images
img:hover{
    transform: scale(1.25);
}




.image-purchase-container:has(.no-shop-images){
    grid-template-columns: 1fr;
}
.image-purchase-container:has(.no-shop-images)>.shop-images-container-main{
    display: none;
}
.image-purchase-container:has(.no-shop-images) .purchase-product-container{
    background-size: 8%;
}
.image-purchase-container:has(.no-shop-images) .purchase{
    transform: translateY(300%);
}
.shop-images-container-main{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 1em;
}
.shop-images-container-main>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.shop-images-container-main img{
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    border-radius: 1em;
    border: 3px solid #303a41;
}
.shop-images-container-main ul li{
    opacity: 0; 
    transition: all 200ms ease-in-out; 
    transition-delay: 200ms;
}
.shop-images-container-main ul li[data-active]{
    z-index: 10;
    opacity: 1;
    animation-delay: 0ms;
}
.move-btn{
    position: absolute;
    width: 3rem;
    aspect-ratio: 1/1;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(186 104 200);
    background-color: #3d4d54;
    border: none;
    border-radius: 100rem;
}
.move-btn:hover{
    cursor: pointer;

}
.prev{
    left: 1rem;
    background-image: url('../../images/arrow-circle-left.svg');
    background-size: cover;

}
.next{
    right: 1rem;
    background-image: url('../../images/arrow-circle-right.svg');
    background-size: cover;
}


.wrapper{
    height: fit-content;
}
.product-list-main{
    height: fit-content;  
}
.product-head-container{
    display: flex;
    justify-content: center;
}
.products-head{
    font-size: 3rem;
    font-weight: 900;
    padding: 1.5%;
    box-sizing: border-box;
    color: white;
}
.product-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    margin: 1% 2.5%;
    padding: 1% 0 2%;
    height: fit-content;
}
.product-container{
    padding: 3%;
    border-radius: .85em;
}
.product-container-parent{
    pointer-events: none;
    height: fit-content;
}
.product-image-container{
    width: 30%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
}
.product-image-container
img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.wrapper{
    position: relative;

}
.checkbox{
    position: absolute;
    offset: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="checkbox"]:checked{
    appearance: none;
    display: block;
    z-index: 1;
    background-color: rgba(0 0 0 /.68);
    border-radius: .75em;
    background-image: url(../../images/shopping-cart-check.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
}



.stock-wrapper{
    width: fit-content;
    position: absolute;
    z-index: 120;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}
.wrapper:has(input[type="checkbox"]:checked) .stock-wrapper{
    visibility: visible;
}
.stock-label{
    color: rgb(186 104 200);
    font-weight: 800;
}
.stock-input{
    box-shadow: none;
    background-color: #303a41;
    color: rgb(186 104 200);
    width: 5rem;
    padding: 8%;
    box-sizing: border-box;
}





.buy-cancel-container{
    width: 100%; 
    padding: 0 2.5% 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.cancel-btn,.buy-btn{
    width: 49%;
    padding: 1.4rem;
    border-radius: .6em;
    border: none;
    background-color: #303a41;
    color: #bfecff;
    transition: transform 300ms ease-in-out;
}
.cancel-btn:hover,.buy-btn:hover{
    cursor: pointer;
    transform: translateY(-.2rem);
}
/* .cancel-btn{

}
.buy-btn{
    
} */





@media (max-width : 720px) {
    
}
@media (max-width : 600px){ 
    
}
@media (max-width : 450px){
    
}
@font-face {
    font-family: comfortaa;
    src: url(../../font/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../../font/Poppins-Medium.ttf);
}



