@import url('../../css/main.css');
body{
    background-color: var(--dark-9);
}
*{
    font-family: poppins;
}
.top-header-container{
    min-height: 111vh;
    max-height: fit-content;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    background-color: var(--dark-9);
    padding-block-end: 3rem;
    /* border: 1px solid black; */
}

.image-container{
    box-sizing: border-box;
    height: 103vh;
    width: 100%;
    border-radius: 0 0 12rem 0;
    overflow: hidden;
    background-color: var(--purple);
}
.shop-cover-image{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 24rem 0;
    background-color: var(--dark-9);
}
.shop-cover-image-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50rem 0;
    border: 1px solid var(--dark-9);
    border-left: none;
    border-top: none;
    /* border-radius: 1rem; */
    /* border: 3px solid #282f34; */
}
.details-container{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.shop-name-text-container{
    z-index: 1;
    background-color: var(--dark-9) !important;
    padding: 0 3rem;
    border-radius: 1.8rem;
    line-height: 1.1em;
    box-sizing: border-box;
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--purple) !important;
    /* font-family: comfortaa; */
}
.product-details-container{
    padding: 1rem 3rem;
    height: fit-content;
    width: 100%;
    background-color: var(--dark-9);
    border-radius: 2rem;
}
.details-container 
*{
    color: white;
}
.location-container> span:first-child{
    background-size: contain;
    background-image: url('../../images/marker.png');
    display: inline-block;
    transform: translateY(.2rem);
    margin-inline-end: .2rem;
}
.category-container{
    color: white;
}
.location-container
span{
    color: white !important;
    display: inline-block;
}
.category-container 
span:first-child{
    background-image: url('../../images/settings-sliders.png');
    background-size: contain;
    display: inline-block;
    transform: translateY(.2rem);
    margin-inline-end: .2rem;
}
.phone1-container,
.phone2-container{
    display: inline;
}
.phone1-container>
span:first-child,
.phone2-container>
span:first-child{
    background-image: url('../../images/circle-phone\ \(1\).png');
    background-size: contain;
    display: inline-block;
    transform: translateY(.16rem);
    margin-inline-end: .2rem;
}
.shop-rating-container>
span:first-child{
    background-image: url('../../images/comet.png');
    background-size: contain;
    display: inline-block;
}
.shop-rating-container>
span:last-child>
span:first-child{
    display: inline-block;
    background-image: url('../../images/whiteStar.png');
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
    transform: translateX(-.5rem);
}
.shop-total-rating-container{
    display: inline-block;
    font-size: .7rem;
    margin-inline-start: -.8rem;
    transform: translateY(-.15rem);
}

.location-container>
span:last-child,
.category-container>
span:last-child,
.phone1-container>
span:last-child,
.phone2-container>
span:last-child,
.shop-rating-container>
span:last-child{
    padding-inline-start: 1.2rem;
    border-inline-start: 3px solid var(--purple);
    display: block;
    font-size: 2rem;
    margin-block:.2rem .6rem;
    margin-inline-start: .45rem;
}
.phone1-container>
span:last-child,
.phone2-container>
span:last-child{
    font-size: 1.8rem;
}
.copy-image{
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('../../images/clipboard-list-check.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 300ms ease-in-out;
}
.copy-image:hover{
    cursor: pointer;
    transform: scale(1.05);
}






.purchase-container-a{
    color: #445764;
    text-decoration: none;
    font-size: 1.2rem;
}

.purchase-product-container{
    background-image: url('../../images/shopping-cart.svg');
    height: 100%;
    width: 100%;
    background-size: 15.5%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-color: #202529;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 320ms ease-in-out, transform 320ms ease-in-out;
}
.purchase-product-container:hover{
    background-image: url('../../images/shopping-cart1.svg');
    transform: translateY(-.3rem);
}
.purchase-product-container:hover > .purchase{
    color: #445764;
}
.purchase{
    transform: translateY(250%);
    /* font-family: comfortaa; */
    font-weight: 900;
}




.image-purchase-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    margin: 2.5%;
    height: 50vh;
}
.image-purchase-container:has(.no-shop-images){
    grid-template-columns: 1fr;
}
.image-purchase-container:has(.no-shop-images)>.shop-images-container-main{
    display: none;
}
.image-purchase-container:has(.no-shop-images) .purchase-product-container{
    background-size: 8%;
}
.image-purchase-container:has(.no-shop-images) .purchase{
    transform: translateY(300%);
}
.shop-images-container-main{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 1em;
}
.shop-images-container-main>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.shop-images-container-main img{
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    border-radius: 1em;
    border: 3px solid #303a41;
}
.shop-images-container-main ul li{
    opacity: 0; 
    transition: all 200ms ease-in-out; 
    transition-delay: 200ms;
}
.shop-images-container-main ul li[data-active]{
    z-index: 10;
    opacity: 1;
    animation-delay: 0ms;
}
.move-btn{
    position: absolute;
    width: 3rem;
    aspect-ratio: 1/1;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(186 104 200);
    background-color: #3d4d54;
    border: none;
    border-radius: 100rem;
}
.move-btn:hover{
    cursor: pointer;

}
.prev{
    left: 1rem;
    background-image: url('../../images/arrow-circle-left.svg');
    background-size: cover;

}
.next{
    right: 1rem;
    background-image: url('../../images/arrow-circle-right.svg');
    background-size: cover;
}


.product-list-main{
    height: fit-content;  
}
.product-head-container{
    display: flex;
    justify-content: center;
}
.products-head{
    font-size: 3rem;
    font-weight: 900;
    padding: 1.5%;
    box-sizing: border-box;
    color: #202529;
}
.product-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    margin: 1% 2.5%;
    padding: 1% 0 2%;
    height: fit-content;
}
.product-container{
    padding: 3%;
    border-radius: .85em;
}
.product-container-parent{
    pointer-events: none;
}
.image-container-inside{
    border-radius: .55em;
}
.wrapper{
    position: relative;

}
.checkbox{
    position: absolute;
    offset: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}
input[type="checkbox"]{
    cursor: pointer;
}
input[type="checkbox"]:checked{
    appearance: none;
    display: block;
    z-index: 1;
    background-color: rgba(0 0 0 /.68);
    border-radius: .75em;
    background-image: url(../../images/shopping-cart-check.svg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
}



.stock-wrapper{
    width: fit-content;
    position: absolute;
    z-index: 120;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}
.wrapper:has(input[type="checkbox"]:checked) .stock-wrapper{
    visibility: visible;
}
.stock-label{
    color: rgb(186 104 200);
    font-weight: 800;
}
.stock-input{
    box-shadow: none;
    background-color: #303a41;
    color: rgb(186 104 200);
    width: 5rem;
    padding: 8%;
    box-sizing: border-box;
}





.buy-cancel-container{
    width: 100%; 
    padding: 0 2.5% 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.cancel-btn,.buy-btn{
    width: 49%;
    padding: 1.4rem;
    border-radius: .6em;
    border: none;
    background-color: #303a41;
    color: #bfecff;
    transition: transform 300ms ease-in-out;
}
.cancel-btn:hover,.buy-btn:hover{
    cursor: pointer;
    transform: translateY(-.2rem);
}
/* .cancel-btn{

}
.buy-btn{
    
} */





@media (max-width : 720px) {
    
}
@media (max-width : 600px){ 
    
}
@media (max-width : 450px){
    
}
@font-face {
    font-family: comfortaa;
    src: url(../../font/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../../font/Poppins-Medium.ttf);
}