.admin-body{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 3% 2%;
    padding: 5vh 6vw;
}
.request-container{
    box-shadow: .2rem .2rem 1.2rem rgb(115, 115, 115);
    transition: all 265ms ease-in-out;
    padding: 5%;
    border-radius: 14px;
    cursor: pointer;
    font-size: .8rem;
    padding-bottom: 7%;
    height: fit-content;
}
.request-container:hover{
    box-shadow: .2rem .2rem 1.9rem rgb(75, 75, 75);
    transform: translateY(-.45rem);
}
.seller-img-container{
    transform: scale(1.02);
}
.img-inside{
    width: 100%;
    height: 9.6679rem;
    border-radius: 8px;
    object-fit: cover;
}
.shop-name{
    font-size: 1.05rem;
    padding-bottom: 2%;
    font-weight: 700;
}
.shop-license-no{
    font-size: .9rem;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
}
input{
    font-size: .85rem;
    width: 100%;
    height: 3.1em;
    background-color: #303a41;
    color: rgb(255, 255, 255);
    border-radius: 70px;
    box-shadow: .1rem .1rem 1rem rgb(115, 115, 115);
}
input[type='submit']:hover{
    transform: none;
    box-shadow: .15rem .15rem 1.2rem rgb(150, 150, 150);
}
.accept{
    margin: 3.2% 2.5% 0 3.2%;
}
.reject{
    margin: 3.2% 3.2% 0 2.5%;
}
.accept:hover{
    background-color: rgb(17, 237, 43);
    color: rgb(255, 255, 255);
}
.reject:hover{
    background-color: rgb(233, 0, 0);
    color: rgb(255, 255, 255);
}


@media (max-width : 1000px){
    .admin-body{
        grid-template-columns: repeat(3 , 1fr);
    }
}

@media (max-width : 800px){
    .admin-body{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@media (max-width : 500px){
    .admin-body{
        grid-template-columns: repeat(1 , 1fr);
    }
}


